<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>
    <div class="container mt-4 mb-4">

        <div class="card">
            <div class="card-header">
                <h2>Cadastrar consulta</h2>
            </div>
            
            <div class="card-body">
            <form action="/create" method="POST">
                <label for="">Nome: </label>
                <input type="text" name="name" id="name" placeholder="Nome do Cliente" class="form-control mb-3" required>

                <label for="">Email: </label>
                <input type="email" name="email" id="email" placeholder="example@hotmail.com" class="form-control mb-3" required>

                <label for="" class="form-label">CPF: </label>
                <input type="text" name="cpf" id="cpf" placeholder="CPF" class=" cpf form-control mb-3" required>

                <label for="">Descrição: </label>
                <input type="text" name="description" id="description" placeholder="description" class="form-control mb-3" required>

                <label for="">Data: </label>
                <input type="date" name="date" id="date" placeholder="00/00/00" class="form-control mb-3" required>

                <label for="">Time: </label>
                <input type="time" name="time" id="time" placeholder="00:00" class="form-control mb-3" required>

                <button class="btn btn-danger btn-block mb-2">Cadastrar</button>
            </form>
            </div>
        </div>
    </div>
</body>
<%- include("partials/footer.ejs") %> 