<%- include("partials/header.ejs") %>

<body>
    <div class="container">
        <div class="card text-white bg-success mt-5">
          <div class="card-header">Você foi deslogado com sucesso!</div>
          <div class="card-body">
            <h5 class="card-title">Você foi deslogado! Para entrar no sistema novamente faça o login</h5>
            <a class="btn btn-danger" href="/login" target="_blank">Login</a>
          </div>
    </div>
</body>

<%- include("partials/footer.ejs") %> 