<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
</head>
<body>
  <%- include("partials/navbar.ejs") %>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>Cadastro de Usuario</h2>
            </div>
            
            <div class="card-body">
            <form action="/newUser" method="POST">
                <label for="">*Nome: </label>
                <input type="text" name="name" id="name" placeholder="Nome Completo" class="form-control mb-3" required>

                <label for="">*Email: </label>
                <input type="email" name="email" id="email" placeholder="example@hotmail.com" class="form-control mb-3" required>

                <label for="" class="form-label">*Senha: </label>
                <input type="password" name="password" id="password" placeholder="Example: Pedro_Custer03" class=" cpf form-control mb-3" required>
                <small>A senha deve conter no minimo 6 caracteres, uma Letra maiúscula e pelo menos 1 numero e simbolo </small><br>

                <button class="btn btn-danger mt-2" type="submit">Criar</button>
            </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
</html>
