#login{
    background-image: linear-gradient(to right, rgb(197, 36, 36), rgb(255, 102, 0));
    
 }

 #login-section{
     width: 50%;
     margin: 130px auto;
     padding: 1em;
 }
 
 input{
     outline: none;
     transition: none;
     
 }

 input:focus{
     outline: none;
 }


.form-control:focus {
 color: #212529; 
 background-color: #fff; 
 border-color: #fe8686; 
 outline: 0;
 box-shadow: 0 0 0 0.25rem  #fe868680;
}

@media screen and (max-width: 650px) {  

    #login-section{
        width: 100%;
    }

}



 