body{
    background-color: #db12129d;
     margin-top: 120px;
 }

 h2{
     color:#ce1616d5;
 }

 label{
     display: block;
     margin: 0;
 }

 input{
     outline: none;
     transition: none;
     
 }

 input:focus{
     outline: none;
 }



 .form-control{
     margin-bottom: 0;
 }

 
.form-control:focus {
 color: #212529; 
 background-color: #fff; 
 border-color: #fe8686; 
 outline: 0;
 box-shadow: 0 0 0 0.25rem  #fe868680;
}

 .form-text-label:nth-child(4){
     margin-top: 20px;
 }

 .btn{
     margin-top: 20px;
 }

 .form-label-error{
     color: rgb(192, 32, 32);
 }


 @media screen and (max-width: 500px) {
    
     .container{
         margin: 0;
         width: 100%;
     }

     .card{
         height: 300px;
     }

     .btn{
      margin-top: 20px;
      width: 100%;
     }   
     
 }